<div style="position:fixed;right:15px;top:62px;z-index:50">
  <button id="content_btn" class="btn btn-primary" style="width:43px;height:34px;">
	<i class="fa fa-lg fa-plus"></i>
  </button>
</div>

<div style="position:fixed;right:15px;top:20px;z-index:50">
  <button id="nav_btn" class="btn btn-primary">
	<i class="fa fa-lg fa-navicon"></i>
  </button>
</div>

<div id='xiami_music_plug_in' style="position:fixed;right:15px;bottom:0px;z-index:50;opacity:0.6;filter:alpha(opacity=60);">
	<embed src="http://www.xiami.com/widget/196756316_193966055_200_300_cccccc_dddddd_1/collectPlayer.swf" type="application/x-shockwave-flash" width="200" height="300" wmode="opaque"></embed>
</div>

<script type="text/javascript" src="{{site.baseurl}}/public/js/jquery.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/public/js/bootstrap.js"></script>
<script src="{{site.baseurl}}/public/js/jquery.pjax.js"></script>
<script src="{{site.baseurl}}/public/js/jquery.lightbox-0.5.min.js"></script>

<script type="text/javascript">
	$(function(){
		//判断是 手机 还是 PC浏览器 访问
		try{
			if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
				$('#xiami_music_plug_in').hide();
			}else{
				$('#xiami_music_plug_in').show();
			}
		}catch(e){
			$('#xiami_music_plug_in').hide();
		}

		$('#xiami_music_plug_in').hover(function(){
			$(this).animate({
				right : '15px',
				bottom : '0px'
			}).css("opacity",1);
		}, function() {
			$(this).animate({
				right : '-140px',
				bottom : '-246.5px'
			});
		});
	});

	
</script>


<script src="{{site.baseurl}}/public/js/prettify/prettify.js"></script>
<script src="{{site.baseurl}}/public/js/base.js"></script>
<!--
<script src="{{site.baseurl}}/public/js/jquery.scrollUp.js"></script>
-->
<script>
    $('a[href="#{{ site.active }}"]').tab('show');
</script>

<!--button是右上方导航和显示目录的按钮-->